<div class="booyah-box col-8">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'user.png', class: 'user'%>
    </div>

    <div class="col-8">
      <h3><%= @user.email %></h3>
      <h3>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
      <h4><%= @user.comments.count %> total comments</h4>
      <h4><%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews</h4>
    </div>
  </div>

  <br>
  <br>
  <br>
  <h2 class="text-center">Comments 💬</h2>
  <br>
  <br>
  <div class="row">
    <% @user.comments.each do |comment| %>
      <div class="col-12 col-sm-6">
        <h5 class="text-center"><%= link_to comment.place.name, place_path(comment.place) %></h5>
        <blockquote>
          <strong><%= comment.rating %></strong>
            “<%= comment.message %>”
          <small class="italic"><%= comment.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>

  <br>
  <br>
  <h2 class="text-center">Places 🍻</h2>
  <br>
  <br>
  <div class="row">
    <% @user.places.each do |place| %>
      <div class="col-12 col-sm-6">
        <% if place.photos.present? %>
          <div class="col-12">
            <%= image_tag place.photos.last.picture, class: 'img-fluid img-index float-right' %>
          </div>
        <% end %>

        <h2><%= link_to place.name, place_path(place) %>🍻</h2>
        <i class="italic"><%= place.address %></i><br><br>
        <p class="description"><%= place.description %></p>
        <br class="clear">

        <% if place.comments.present? %>
          <div class="col-12">
            <blockquote class="index">
              <% if place.comments.last.rating.present? %>
                <%= place.comments.last.rating %>
              <% end %>
              “<%= place.comments.last.message %>”
              <!-- <small><%= place.comments.last.user.email %></small> -->
            </blockquote>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
