<div class="booyah-box new-box col-6">
  <h2 class="new-place">Edit Your Pub:</h2>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name, label: 'Name:' %>
    <%= f.input :address, label: 'Address:' %>
    <%= f.input :description, label: 'Description:' %>
    <br>
    <%= f.submit 'Update Pub ðŸ»', class: 'btn btn-primary btn-new' %>
  <% end %>
</div>
